body {
    background: #232527;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

/* Topbar */
h4 a {
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 50px;
    text-align: center;
}
  
h4 a:hover {
    text-decoration: underline;
    font-size: larger;
}
h4 a.active {
    text-decoration: underline;
}

h2 {
    margin-left: 0.5%;
    color: white;
    margin-right: auto;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}



.topbar {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 99%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 83%;
  }


/* Pages Body */

.home_container {
    position: absolute;
    top: 58%; /* Replace with your top bar height */
    left: 50%;
    width: 99%;
    transform: translate(-50%, -50%);
    height: calc(100% - 50px); /* Subtract top bar height from 100% */
    text-align: center;
    color: white;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.home_container p {
    margin: 3%;
    font-size: larger;
    margin-bottom: 6%;
}

.version h3 {
    font-size: 25px;
    margin-bottom: 0%;
}

.version p {
    font-size: medium;
}

.version {
    width: 100%;
    height: 35%;
    margin-top: 0.5%;
    margin-right: auto;
}

.links {
    position: relative;
    width: 50%;
    margin-left: auto;
    bottom: 5%;
    margin-right: auto;
}

.links h3 {
    margin-left: 0.5%;
    font-size: larger;
}

.links a {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    display: grid;
    text-decoration: none;
    transition: 0.3s linear;
    font-size: large;
}

.links a:hover {
    text-decoration: underline;
    font-size: 20px;
    color:blanchedalmond;
    transition: 0.3s linear;
}

/* Privacy */

.collect {
    margin-left: auto;
    margin-top: 25%;
    width: 50%;
    margin-bottom: auto;
    transform: translate(-50%, -50%);
    height: 25%; /* Subtract top bar height from 100% */
    text-align: center;
    font-size: large;
    border: 8px solid white;
    border-radius: 2%;
    color: white;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.collect h2 {
    font-size: larger;
    border-bottom: 1px solid white;
}

/* Bugs */

.bugs {
    margin-left: auto;
    margin-top: 25%;
    width: 50%;
    margin-bottom: auto;
    transform: translate(-50%, -50%);
    height: 25%; 
    text-align: center;
    font-size: large;
    border: 1px solid white;
    border-radius: 1%;
    color: white;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.bugs h2 {
    font-size: larger;
    border-bottom: 1px solid white;
}

/* Team */

.staff {
    margin-left: auto;
    margin-top: 25%;
    width: 50%;
    margin-bottom: auto;
    transform: translate(-50%, -50%);
    height: 25%; 
    text-align: center;
    font-size: large;
    border: 1px solid white;
    border-radius: 1%;
    color: white;
    font-family: HCo Gotham SSm,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.staff h2 {
    font-size: larger;
    border-bottom: 1px solid white;
}

